<!-- <style>
    nav{
        display: flex;
        justify-content: space-between;
        background-color: #333;
        align-items: center;
        padding: 1rem;

        & .logo{
            color: #fff;
        }

        & .menu{
            display: flex;
            & li{
                margin: 0 2rem;
                list-style: none;
                & a{
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
</style>
<nav>
    <div class="logo">
        <h3>AngularSite</h3>
    </div>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Bolg</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav> -->

<mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
